<nav>
  <mat-toolbar class="navbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/" title="Inicio">
      <img src="/assets/img/logo.svg" class="logo" alt="logo">
    </a>
    <span class="example-spacer"></span>

    <button mat-button [matMenuTriggerFor]="menu">Libros</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Tabla libros</button>
      <button mat-menu-item>Galería libros</button>
    </mat-menu>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</nav>
