<div>
    <h3>Crear usuario</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.email}}

        </li>
    </ul>


    <input type="text" [(ngModel)]="userEmail" />
    <button (click)="save()">Guardar usuario</button>
</div>


<div>
    <h3>Buscar usuario por email</h3>
    <input type="email" [(ngModel)]="searchEmail">
    <button (click)="findByEmail()"> Buscar usuario</button>


    <p *ngIf="user"> Si existe el usuario {{user.fullName}} {{user.email}} </p>

    <p **ngIf="!user"> User not found</p>

</div>